/* index.css */

/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.page-container {
  padding: 40px;
}

/* NAVBAR */
.navbar {
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #007bff;
  font-size: 17px;
}

.username {
  margin-right: 15px;
  font-size: 16px;
}

.logout-btn {
  padding: 8px 12px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* AUTH PAGES */
.center-box {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn {
  padding: 12px;
  font-size: 17px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}
